body{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family:'Amatic SC', cursive;
    background-image: url('/assets/number-background.jpeg');
    background-position: fixed;
    background-size: cover;
    font-size: 2rem;
    font-weight: bold;
}
button{
    border: black 3px solid;
    border-radius: 5px;
    border-radius: 10px;
}
input{
    border: black 3px solid ;
   

}
#fineprint{
    font-size: x-small;
}
